<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">NEW SCHOOL</h1>
    <div class="col-6 offset-3">
        <form action="/schools" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="schoolName">School Name</label>
                <input class="form-control" type="text" id="schoolName" name="school[schoolName]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="school[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="school[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="fees">Fees</label>
                <div class="input-group">
                    <span class="input-group-text" id="fees-label">$</span>
                    <input type="text" class="form-control" id="fees" placeholder="0.00" aria-label="fees"
                        aria-describedby="fees-label" name="school[fees]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="school[description]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">ADD SCHOOL</button>
            </div>
        </form>
        
    </div>
</div>